.navbar {
    background-color: var(--light);
    border-left: 2px solid #eec2ab;
}

.title {
    margin: auto;
}

.logo {

    img {
        // width: 3rem;
        width: 40px;
    }

    .titleWeb {
        position: absolute;
        font-size: 28px;
        color: var(--orange);
        font-weight: bold;
    }


}