.containPage {
    padding: 20px 30px 10px 30px;
}

.contentPage {
    padding: 10px;
    border-radius: 10px;
    background-color: #eae2e24a;
}

.bgProfile {
    background-image: url(https://img.freepik.com/free-vector/stylish-glowing-digital-red-lines-banner_1017-23964.jpg?w=1380&t=st=1697273992~exp=1697274592~hmac=a27a66f5949a3d2c71246af3a2656c394dbec370e5ef8e4878f30a3dfbf373b1);
    height: 200px;
    background-size: cover;
}